
body{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: blue;
    background-color: black;
}

h2{
    color: red;
}

p{
    text-align: justify;
}
