@charset "UTF-8";

/* 
    em html é id = em CSS #
    em html é class = em CSS .

*/

body{
    background-color:rgb(209, 238, 167);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    color: rgb(8, 180, 8);
}

h1#principal{
    text-align: center;
    background-color: rgb(8, 180, 8);
    color: white;
    text-decoration: underline;
}

h2{
     color: rgb(7, 90, 7);
}

.basico{
    color: rgb(7, 90, 7);
    font-weight: bold;
}

.intermediario{
    color: rgb(175, 172, 7);
}

.avancado{
    color: rgb(255, 0, 0);
}