@charset "UTD-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #CCD96A, #D9AA55, #0468BF);
}

.layout {
    display: flex;
    gap: 5px;
}

main {
    background-color: white;
    box-shadow: 2px 2px 2px #400707;
    border-radius: 5px;
    width: 80%;
    max-width: 1200px;
    padding: 10px;
    margin: auto;
}

h1#titulo-principal {
    text-align: center;
    font-size: 35px;
    color: #CCD96A;
    text-shadow: 2px 2px 2px #400707;

}

p {
    text-align: justify;
}

mark {
    background-color: #D9AA55;
    color: black;
}

h2 {
    text-align: center;
    font-size: 26px;
}

.org-imagens {
    width: 15px;
}

footer {
    text-align: left;
    margin-left: 130px;
    font-style: italic;
    margin-top: 15px;
}

.marcado:hover {
    background-image: linear-gradient(to right, #CCD96A, #dab269 );
    width: 300px;
}

a:active {
    color: rgb(238, 255, 0);
}

div > ul {
    display: none;
}

div:hover > ul {
    display: block;
    color: white;
    width: 300px;
}