@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #CCD96A, #D9AA55, #0468BF);
}

.titulo-principal {
    text-align: center;
    font-family: arial, verdana, sans-serif;
    text-shadow: 2px 2px 2px rgb(39, 1, 1);
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(39, 1, 1);
    padding: 10px;
    margin: 7px;
    display: inline-block;
    width: 200px;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;
    text-align: justify;
    text-align: center;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 2px rgb(104, 2, 2);
    color: #0468BF;
}

a:hover {
    color: #0468BF;
    text-decoration: none;
}

a:active {
    color: yellow;
}

a {
    color: black;
    text-decoration: none;
}

.coloca-emoji::before {
    content: "→";
    font-size: 30px;
}