body{
    background-color: cornsilk;
}
.principal img{
    width: 450px;
    height: auto;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.externo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video{
    text-align: center;
    margin: 0;
}
.video video{
    width: 450px;
    height: auto;
    display: block;
    margin: 0;
}
