@charset "UTF-8";

*{
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to left, #823A6D, #D43243, #5C3C85);
}
main{
    background-color: white;
    border-radius: 10px; 
    box-shadow: 5px 5px 5px #5C3C85;
    width: 80%;
    max-width: 1200px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
H2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: justify;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 500px;
    height: auto;
}

p#fala-delegado{
    text-indent: 0;
    background-color: aquamarine;
    text-align: justify;
}

.fala-vitima {
    text-align: justify;
    background-color: #823A6D;
    text-indent: 0;
}

.citacao-importante {
    font-style: italic;
    text-decoration: underline;
}

.cor-link {
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
    background-color: #5C3C85;
}

footer {
    background-color: gray;
    width: 100%;
    padding: 20px 0;
}

.por-a-esquerda {
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
}

div > ul {
    display: none;
}

div:hover > ul {
    display: block;
    color: black;
}