@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #823A6D;
    --cor2: #D43243;
    --cor3: #5C3C85;

    --fonte1: 'Work Sans', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to left, var(--cor1), var(--cor2), var(--cor3));
    font-family: sans-serif;
}

header {
    background-color: white;
    padding: 5px 0px 5px 0px;
}

.logo-redes {
    width: 1em;
    height: auto;
    vertical-align: middle;
}

header section > img {
    max-width: 170px;
    max-height: 65px;
    padding: 0px 15px;
}

header section {
    box-shadow: 0px 0px 0.1px 0px black;
    margin: 8px 0px;
    padding-bottom: 1px;
}

nav {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin: 5px;
}

nav a {
    display: flex;
    color: gray;
    text-decoration: none;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 2px;
}

.links-header {
    padding: 0vw 4vw;
    text-decoration: none;
    color: black;
}

section#intro-content {
    box-shadow: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.582);
    padding: 15px;

}

section ul {
    display: inline-flex;
    list-style-type: none;
    padding-top: 5px;
}

.menu-navegacao {
    color: gray;
    text-decoration: none;
    margin: 0px 8px 0px 8px;
} 

code {
    color: gray;
}

h1 {
    font-family: var(--fonte1);
}

.editar-autor {
    padding-bottom: 5px;
}

.editar-autor a {
    text-decoration: none;
    color: darkgray;
}

main {
    background-color: white;
    width: 85%;
    max-width: 75em;
    margin: auto;
}

main article {
    box-shadow: 0px 0px 0px 0.2px rgba(0, 0, 0, 0.445);
}

main picture {
    display: block;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.ajuste-principal {
    text-align: justify;
    text-indent: 8px;
    padding: 15px;
    font-size: 1.1em;
}

section > p {
    padding: 8px 0px;
}

.footer-principal {
    display: flex;
    box-shadow: 0px 0px 1px 0px black;
    padding: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 250px;
    background-color: var(--cor3);
}

.footer-principal aside {
  flex: 1;          
  min-width: 200px; 
  color: white;
  padding-bottom: 13px;
}

.footer-principal ul {
    list-style-type: none;
}

.footer-principal ul a {
    text-decoration: none;
    color: white;
}

.footer-principal ul a:hover {
    color: var(--cor1);
}

.colunas-footer {
    padding-bottom: 15px;
}

.logo-footer img {
  max-width: 55%;
  height: auto;
  display: block;
}

.final-footer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.568);
    padding: 8px;
    background-color: var(--cor3);
} 

